#presentation {
    background-image: url("../../img/bw_camera.jpg");
    background-size: cover;
    height: 350px;
    width: 100%;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}