#presentation {
    background-image: url("../../img/bw_camera.jpg");
    background-size: cover;
    height: 350px;
    width: 100%;
    color: white;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}