* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background: none;
    border: none;
}

a {
    color: inherit;
}

main {
    padding: 95px 0px;
}

.cart {
    border: 2px solid grey;
    border-radius: 12%;
    padding: 20px;
}

.cartLine {
    border-bottom: 1px solid black;
    padding-top: 20px;
}
h3 {
    font-size: 18px;
}

.cartTotal {
    font-size: 20px;
    width: fit-content;
    margin: 10px auto;
}